.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
'h h'
'n c';
}

.header {
    grid-area: h;
    background-color: darkred;
}

.header img {
    width: 20px
}

.nav {
    grid-area: n;
    background-color: lightblue;
}

.content {
    grid-area: c;
    background-color: silver;
}